<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Javier Otero Photo</title>
    <script src="https://cdn.tailwindcss.com" is:inline></script>
    <link
      rel="icon"
      href="https://kinsta.com/wp-content/uploads/2023/12/cropped-kinsta-favicon-32x32.png"
      sizes="32x32"
    />
  </head>
  <body
    class="bg-[#1c1819] flex flex-col justify-center min-h-screen text-[#a68b85]"
  >
    <main class="max-w-[932px] pb-8 pt-16 px-10">
      <h1 class="mb-6 md:text-6xl reckless text-4xl text-white">
        Welcome to your <br />PHOTO
      </h1>
    </main>
  </body>
</html>
